
  <!-- <button *ngIf="!editing" pButton pRipple  icon="pi pi-pencil" 
  class="p-button-rounded p-button-text"></button>  
  <button pButton type="button" icon="pi pi-check" iconPos="left" ></button>
  <p-button label="Click" icon="pi pi-check" iconPos="left"></p-button> -->
  <p-toast></p-toast>
<p-table [value]="users" dataKey="id" editMode="row">
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                  <th pSortableColumn="phone">Phone<p-sortIcon field="phone"></p-sortIcon></th>
                  <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                  <th style="width:8rem"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="user">
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="user.name">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{user.name}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="user.email" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{user.email}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.phone" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{user.phone}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" [(ngModel)]="user.status" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.status}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                  <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple  pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
