:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
  .brand {
    .brandText {
      display: inline;
      color: #FFF;
      font-size: 20px;
      padding-left: 10px;
    }
    // Logo
    .brand-logo {
      // Minimized Aside Mode
      .aside-minimize:not(.aside-minimize-hover) & {
        .brandText {
          display: none;
        }
      }
    }
  
  }
  
}
